<div class="container" style="display:block; margin:auto;">
  <div class="row">
    <div class="col-md-8">
      <h1 style="text-align: right; color: white;">Average Per Games</h1>
    </div>
    <dropdown placeholder="Colour..." list="colours" selected="colour" property="name"></dropdown>
    <!-- <div class="col-md-4 container"> -->
      <!-- <div ngbDropdown class="d-inline-block">
        <a id="dropdownBasic1" ngbDropdownToggle><small>Toggle dropdown</small></a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngFor="let sport of user.sports">
          <button class="dropdown-item">as</button> -->
          <!-- <button class="dropdown-item">Another Action</button>
          <button class="dropdown-item">Something else is here</button> -->
        <!-- </div>
      </div> -->
    <!-- </div> -->

  </div>
  <!-- </div> -->
  <hr>
  <div class="row" style="text-align: center; color: white;">
    <div class="col-md-4">Points</div>
    <div class="col-md-4">Rebounds</div>
    <div class="col-md-4">Assists</div>
  </div>
  <div class="row display-3" style="text-align: center; color: white;" >
    <div class="col-md-4">{{ userAvg.points }}</div>
    <div class="col-md-4">{{ userAvg.rebounds }}</div>
    <div class="col-md-4">{{ userAvg.assist }}</div>
  </div>

</div>
