@import 'base/colors';

img {
  border-radius: 5rem;
  height: 2.5rem;
  border: .1rem solid $eleague-primary-gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, .4);
}

label {
  font-size: .5rem;
}