/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


@import 'base/colors';
@import 'base/module';
@import 'base/typography';



html, body {
    background: #f5f5f5 !important;
    color: $eleague-off-white;
    font-family: 'Assistant', sans-serif;
    outline: none;
}

button:focus, div:focus, strong:focus, h4:focus, li:focus { outline: none; }



h1, h2, h3{
  color: $eleague-primary-orange;
  :focus { outline: none; }
}

*:focus {
  outline: none;
}

