<div class="cover"></div>
<div class="d-flex flex-column side-form">
  <div class="profile-pic d-flex justify-content-start">
    <img src="../../../../assets/images/wake.jpg" class="img-fluid" alt="Responsive image">
    <div class="d-flex flex-column p-3 info">
      <h5>Luis Davila</h5>
      <p>Guayama, PR</p>
    </div>
  </div>

  <div class="form-container menu mt-5">
    <ul class="list-group">
      <li class="list-group-item d-flex flex-row"><span class="fa fa-home mr-3 align-middle"></span><span class="mt-1 align-middle">Home</span></li>
      <li class="list-group-item d-flex flex-row"><span class="fa fa-globe mr-3 align-middle"></span>Discover</li>
      <li class="list-group-item d-flex flex-row"><span class="fa fa-envelope-o mr-3 align-middle"></span>Messages</li>
      <li class="list-group-item d-flex flex-row"><span class="fa fa-calendar mr-3 align-middle"></span>Calendar</li>
    </ul>
    <li class="list-group-item header mt-5">Manage</li>
    <ul class="list-group sub-menu pl-5">
      <li class="list-group-item d-flex flex-row" routerLink="/teams" routerLinkActive="selected" ><span class="mt-1 align-middle">My Teams</span></li>
      <li class="list-group-item d-flex flex-row"><span>My Leagues</span></li>
    </ul>
  </div>
</div>