<section id="jumbotron">
  <div class="jumbotron">
    <div class="d-flex flex-row w-50" style="height: 100%">
      <div class="d-flex flex-column pr-2 mr-2">
        <div class="mt-auto text-center">
          <button type="button" class="btn btn-info action" (click)="openSideForm()"><span class="fa fa-plus"></span></button>
        </div>
        <span class="action-text mt-1">Add team</span>
      </div>
      <div class="d-flex flex-column pr-2 mr-2" style="height: 100%">
        <div class="mt-auto text-center">
          <button type="button" class="btn btn-info action"><span class="fa fa-envelope-o"></span></button>
        </div>
        <span class="action-text mt-1">Message teams</span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row search-wrap">
    <section id="search">
      <input #box placeholder="Search for your team" (keyup)="find(box.value)">
      <div class="fa fa-search"></div>
    </section>
  </div>
</section>
<div class="section">
  <span class="ml-5">My Teams</span>
</div>
<mat-divider class="ml-5 mr-5 mb-3"></mat-divider>
<div class=" d-flex flex-row pl-5 flex-wrap">
  <div class=" p-2" *ngFor="let team of searchedTeams">
    <app-team-card [team]="team"></app-team-card>
  </div>
</div>