<!-- <div class="container"> -->
  <!-- <app-header></app-header>
  <div class="row">
    <div class="col-md-12">
      <app-carousel></app-carousel>
    </div>
  </div> -->
<!-- </div> -->

<!-- <app-header></app-header>
<div class="jumbotron">
  <div class="container">
      <h1 class="display-3">Hello</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  </div>
</div> -->

<app-profile></app-profile>
