<div class="side-form">
    <div class="d-flex flex-row justify-content-between title-wrapper">
        <h1>Add a Team</h1>
        <span class="fa fa-arrow-right" (click)="closeSideForm()"></span>
    </div>
    <div class="form-container d-flex flex-column">
        <form [formGroup]="teamForm" (ngSubmit)="createTeam(teamForm)" (keydown.enter)="$event.preventDefault()">
            <div class="d-flex flex-row w-100" style="height: 20rem">
                <div class="d-flex flex-column box mt-2 w-100" style="height: 100%;">
                    <div class="d-flex flex-row justify-content-between w-100">
                        <div class="d-flex flex-column w-100 pr-1">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name">
                        </div>
                        <div class="d-flex flex-column w-100 pr-1">
                            <label for="name">Sport</label>
                            <div ngbDropdown class="d-inline-block pl-1">
                                <button type="button" class="btn btn-secondary w-100" id="dropdownBasic1" ngbDropdownToggle>{{selectedSport}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngFor="let sport of sports; let i=index">
                                    <button type="button" (click)="selectSport(i)" class="dropdown-item">{{sport}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between w-100 pt-4 mt-1">
                        <div class="d-flex flex-column w-100 pr-1">
                            <label for="name">City</label>
                            <input type="text" class="form-control" id="city" formControlName="city">
                        </div>
                        <div class="d-flex flex-column w-100 pl-1">
                            <label for="name">Country</label>
                            <input type="text" class="form-control" id="country" formControlName="country">
                        </div>
                    </div>
                    <div class="d-flex flex-column mt-4" style="height: 100%">
                        <label for="name" class="mt-3">Players</label>
                        <div class="players d-flex flex-row flex-wrap p-1" style="height: 100%">
                            <app-image-badge class="p-1" [data]="player" *ngFor="let player of addedPlayers"></app-image-badge>
                        </div>
                    </div>
                </div>
                <div class="box mt-2 ml-2 text-center">
                    <div class="d-flex flex-row justify-content-between">
                        <span>Add a logo</span><span (click)="removePreview()" class="fa fa-times"></span>
                    </div>
                    <input #file type="file" accept='image/*' (change)="preview(file.files)" style="display: none"
                        formControlName="logo" />
                    <div class="file-input d-flex flex-column justify-content-center" (click)="file.click()">
                        <img id="image" [src]="imgURL || 'http://placehold.it/180'" alt="your logo" *ngIf="imgURL" />
                        <span class="fa fa-picture-o text-center" *ngIf="!imgURL"></span>
                    </div>
                    <button type="submit" class="btn btn-info mt-2 w-100">Create Team</button>
                </div>
            </div>
            <div class="box mt-2">
                <mat-form-field class="w-100">
                    <label for="name">Add players</label>
                    <input #playerBox type="text" matInput [matAutocomplete]="auto" (keyup)="searchPlayers(playerBox.value)"
                        (keyup.enter)="addPlayer(playerBox.value, 'N/A')">
                </mat-form-field>

                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let player of searchedPlayers" [value]="player.name">
                        <strong>{{player.name}}</strong>
                        <span> | {{player.hometown}}, {{player.country}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </form>
    </div>
</div>