<div class="jumbotron" style="background: gray; height: 250px;">
  <div class="row">
    <div class="col-xs-6 col-sm-2 col-md-4">
      <app-user-details [user]="profileUser"></app-user-details>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-8">
      <app-user-avg [user]="profileUser"></app-user-avg>
      <table class="table table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th *ngFor="let header of table.headers">{{ header }}</th>
          </tr>
        </thead>
        <tbody *ngFor="let data of table.data">
          <tr>
            <th scope="row">{{ data.date }}</th>
            <td>{{ data.against }}</td>
            <td>{{ data.points }}</td>
            <td>{{ data.rebounds }}</td>
            <td>{{ data.assists }}</td>
            <td>{{ data.steals }}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <p>This dropdown uses customized default values.</p>


  </div>
