<div class="jumbotron" style="background: gray; height: 250px;">
  <div class="row">
    <div class="col-xs-6 col-sm-2 col-md-3">
      <app-user-details [user]="profileUser"></app-user-details>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-9">
      <app-user-avg (statsSelected)="checkSport($event)" [user]="profileUser"></app-user-avg>
      <table class="table table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th *ngFor="let header of statsKeys(table)">{{ header }}</th>
          </tr>
        </thead>
        <!-- <tbody >
          <tr><td *ngFor="let key of statsKeys(table)">{{ table[key]}}</td></tr>
          <tr *ngFor = "let key of games">
            <th scope="row">{{ table[key] }}</th>
            <td>{{ key }}</td>
          </tr>
        </tbody> -->
      </table>
      </div>
    </div>
    <p>This dropdown uses customized default values.</p>


  </div>
