@import 'base/colors';
@import 'base/typography';


.jumbotron {
  background: rgb(3,11,22);
  padding-top: 6rem;
  height: 25rem;
}

#jumbotron {
  position: relative;
}

#jumbotron .main-card {
  position: absolute;
  left: 5rem;
  right: 5rem;
  top: 5rem;
}

.main-card {
  display: inline-block;
  height: 100%;
  background: lighten($eleague-navy-jumboblue, 2%);
  border-radius: .2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.first-column {
  margin-top: 10rem;
  padding-right: 4rem;
  margin-left: 1rem;
  padding-left: 0;  
  flex-grow: 0;
}

.body {
  height: 100%;
}

.posts {
  height: 20rem;
  width: 100%;
  padding: 5rem;
  margin: .3rem;
  margin-top: 0;
}

.newsfeed-wrapper {
  border-left: 1px solid $eleague-navy-jumboblue;
  margin-top: 10rem;
  padding: 2rem;
  padding-top: 0;
  flex-grow: 3;
}

.cards-wrapper {
  // background-color: rgb(13, 42, 53);
  // border-radius: 1rem;
}

.rank-box {
  background-color: $eleague-navy-jumboblue;
  border-radius: 1rem;
}

.rank-card {
  margin-bottom: .5rem;
  background: $eleague-off-white;
  height: 4rem;
}

.third-column {
  margin-top: 10rem;
  // flex-grow: 0;
  width: 22rem;
}

.title {
  color: $eleague-off-white;
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: $polya;
}

.options {
  background: rgba(#fff, .1);
  color: white;
   span {
      margin: .5rem;
      cursor: pointer;
   }
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  span {
    // flex: 0 0 auto;
  }
}

.actions {
  height: 10rem;
  margin-bottom: 1rem;
}

.action {
  border-radius: .5rem;
  width: 50%;
  margin-right: .5rem;
}


