<div class="dropdown-container" ng-class="{ show: listVisible }">
  <div class="dropdown-display" (click)="show();" [ngClass]="{ clicked: listVisible }">
     <span *ngIf="!isPlaceholder">{{display}}</span>
      <span class="placeholder" *ngIf="isPlaceholder">{{placeholder}}lt;/span>
      <i class="fa fa-angle-down"></i>
   </div>
   <div class="dropdown-list">
      <div>
        <div *ngFor="let item of list" (click)="select(item)" [ngClass]="{ selected: isSelected(item) }">
          <span>{{property !== undefined ? item[property] : item}}</span>
          <i class="fa fa-check"></i>
        </div>
      </div>
   </div>
</div>
