<div class="d-flex flex-row background">
  <div class="d-flex flex-column form-container">
    <div class="d-flex flex-row justify-content-center pt-2">
      <span id="app-title">EasyLeague</span>
    </div>
    <div class="d-flex flex-row justify-content-center w-100">
      <div class="d-flex flex-column w-75">
        <form (submit)="login()" class="">
          <div class="d-flex flex-row justify-content-start pb-2">
            <span class="text-center" id="subtitle">Please login into your account</span>
          </div>
          <div class="form-group ">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
          </div>
          <div class="form-group mb-0">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
          </div>
          <div class="w-100 text-right">
            <a class="align-top" [routerLink]="['/${route-link}']">Forgot password?</a>
          </div>
          <div class="d-flex-flex-row justify-content-around w-100 pl-2">
            <button type="submit" class="btn btn-alt">Login</button>
            <button type="button" class="btn btn-outline-primary">Sign in</button>
          </div>
        </form>
        <span class="text-center mt-5 text">- Or Sign in with -</span>
        <div class="d-flex-flex-row justify-content-center m-5 text-center">
          <button mat-fab color="primary"><i class="fa fa-facebook" aria-hidden="true"></i></button>
          <button mat-fab color="warn"><i class="fa fa-google" aria-hidden="true"></i></button>
        </div>
        <!-- <button type="button" class="btn btn-fb w-50"><i class="fa fa-facebook" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-google w-50"><i class="fa fa-google" aria-hidden="true"></i></button> -->
      </div>
    </div>
  </div>
</div>
